*{
  margin: 0;
  padding: 0;
}
h1{
  font-family: 'Kanit', sans-serif;
  font-size: 50px;
  font-weight: 600;
}
.irfan{
  color: orange;
}
.half-width{
  width: 50%;
}
.flexible{
  display: flex;
}
img{
  width: 35%;
  margin: 2%;
}
.hire-button{
  text-decoration: none;
  color:rgb(71, 58, 58);
  background: linear-gradient(orange, tomato);
  padding: 10px 40px;
  margin-top: 30px;
}
.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.top-banner-left{
  margin: 5%;
}
p{
  margin-bottom: 40px;
}