*{
  margin: 0;
  padding: 0;
}
h1{
  font-family: 'Kanit', sans-serif;
  font-size: 50px;
  font-weight: 600;
}
h2{
  font-family: 'Kanit', sans-serif;
  font-size: 25px;
  font-weight: 600;
}
h3{
  color: orange;
}
body{
  font-family: 'Kanit', sans-serif;

}
.irfan{
  color: orange;
}
.half-width{
  width: 50%;
}
.flexible{
  display: flex;
}
img{
  width: 35%;
  margin: 2%;
}
.img2{
  width: 60%;

}
.hire-button{
  text-decoration: none;
  color:rgb(71, 58, 58);
  background: linear-gradient(orange, tomato);
  padding: 10px 40px;
  margin-top: 30px;
}
.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.top-banner-left{
  margin: 5%;
}
p{
  margin-bottom: 40px;
}
.dream-section{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 100px;
}
.dream-right{
  margin: 10%%;
  text-align: justify;
  margin: 100px 100px 0px 0px;
}
.work{
  margin-top: 100px;
  margin-bottom: 200px;
 
  
}
.card{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
}
.card-1{
  box-shadow: 5px 5px 10px black;
  padding: 20px;
  margin: 3%;
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
}


.card-2{
  box-shadow: 5px 5px 10px black;
  padding: 20px;
  margin: 3%;
  border-left: 7px solid;
  border-image: linear-gradient(180deg, rgb(52, 9, 121), rgb(71, 243, 255));
  border-image-slice: 1;

}
footer{
  text-align: center;
  font-weight: 400;
}


